# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
/OPENAI_API_KEY.env
/venv/
.idea/
*.env
backend/venv
backend/file/